bank.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://www.example.com"
xmlns="https://www.example.com"
elementFormDefault="qualified">

  <xs:element name="bank">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountNumber" type="xs:string"/>
        <xs:element name="accountHolder" type="xs:string"/>
        <xs:element name="accountType" type="xs:string"/>
        <xs:element name="balance" type="xs:decimal"/>
        <xs:element name="currency" type="xs:string"/>
        <xs:element name="status" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>