election.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="https://www.example.com"
  xmlns="https://www.example.com"
  elementFormDefault="qualified">

  <xs:element name="election">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="campaignYear" type="xs:gYear"/>
        <xs:element name="id" type="xs:string"/>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="politicalParty" type="xs:string"/>
        <xs:element name="position" type="xs:string"/>
        <xs:element name="previousPosition" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>