movie.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="https://www.example.com"
  xmlns="https://www.example.com"
  elementFormDefault="qualified">

  <xs:element name="movie">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="director" type="xs:string"/>
        <xs:element name="duration" type="xs:string"/>
        <xs:element name="genre" type="xs:string"/>
        <xs:element name="id" type="xs:string"/>
        <xs:element name="releaseDate" type="xs:string"/>
        <xs:element name="title" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>