store.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="https://www.example.com"
  xmlns="https://www.example.com"
  elementFormDefault="qualified">

  <xs:element name="store">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="barcode" type="xs:string"/>
        <xs:element name="brand" type="xs:string"/>
        <xs:element name="category" type="xs:string"/>
        <xs:element name="currency" type="xs:string"/>
        <xs:element name="expirationDate" type="xs:string"/>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="price" type="xs:decimal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>